In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.2.1'

In [3]:
# pip install pyarrow

In [4]:
# pip install fastparquet

In [5]:
df = pd.read_parquet("./data/parquet/yellow_tripdata_2024-01.parquet")

In [6]:
df.to_csv("./data/csv/yellow_tripdata_2024_01.csv")

In [7]:
# ls

In [8]:
# cd Week1_infrastructure/

In [9]:
data = pd.read_csv("./data/csv/yellow_tripdata_2024_01.csv", nrows=100)

In [10]:
data.head()

,Unnamed: 0,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,0,2,2024-01-01 00:57:55,2024-01-01 01:17:43,1.0,1.72,1.0,N,186,79,2,17.7,1.0,0.5,0.00,0.0,1.0,22.70,2.5,0.0
1,1,1,2024-01-01 00:03:00,2024-01-01 00:09:36,1.0,1.80,1.0,N,140,236,1,10.0,3.5,0.5,3.75,0.0,1.0,18.75,2.5,0.0
2,2,1,2024-01-01 00:17:06,2024-01-01 00:35:01,1.0,4.70,1.0,N,236,79,1,23.3,3.5,0.5,3.00,0.0,1.0,31.30,2.5,0.0
3,3,1,2024-01-01 00:36:38,2024-01-01 00:44:56,1.0,1.40,1.0,N,79,211,1,10.0,3.5,0.5,2.00,0.0,1.0,17.00,2.5,0.0
4,4,1,2024-01-01 00:46:51,2024-01-01 00:52:57,1.0,0.80,1.0,N,211,148,1,7.9,3.5,0.5,3.20,0.0,1.0,16.10,2.5,0.0

In [11]:
data.tpep_pickup_datetime = pd.to_datetime(data.tpep_pickup_datetime)
data.tpep_dropoff_datetime = pd.to_datetime(data.tpep_dropoff_datetime)

In [12]:
from sqlalchemy import create_engine

In [13]:
engine = create_engine("postgresql://postgres:postgres@localhost:5432/new_york_taxi")

In [14]:
engine.connect()

In [15]:
print(pd.io.sql.get_schema(data, name="yellow_taxi_data", con=engine))

CREATE TABLE yellow_taxi_data (
	"Unnamed: 0" BIGINT,
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	"Airport_fee" FLOAT(53)
)

In [16]:
data_iter = pd.read_csv("./data/csv/yellow_tripdata_2024_01.csv", iterator=True, chunksize=100000) #converts to a generator

In [17]:
print(data_iter)

<pandas.io.parsers.readers.TextFileReader object at 0x7fdd719a0fa0>

In [18]:
data_iter

In [19]:
data1 = next(data_iter)

In [20]:
#insert header into database
data1.drop("Unnamed: 0", axis=1).head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [21]:
# insert data into database
# data1.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

In [22]:
from time import time
n = 0
while True:
    try:
        start_time = time()
        data1 = next(data_iter)
        data1.drop("Unnamed: 0", axis=1, inplace=True)
        data1.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
        end_time = time()
        if n == 0:
            print(f"inserted first chunk, it took {end_time - start_time:3f} seconds")
        else:
            print(f"inserted another chunk, it took {end_time - start_time:3f} seconds")
        n += 1
    except StopIteration:
        print("Finished ingesting all dataset to dataset")
        break

inserted first chunk, it took 10.441662 seconds
inserted another chunk, it took 9.962961 seconds
inserted another chunk, it took 9.912628 seconds
inserted another chunk, it took 11.725396 seconds
inserted another chunk, it took 10.045422 seconds
inserted another chunk, it took 9.991218 seconds
inserted another chunk, it took 10.142829 seconds
inserted another chunk, it took 10.086366 seconds
inserted another chunk, it took 10.084902 seconds
inserted another chunk, it took 10.267292 seconds
inserted another chunk, it took 9.909213 seconds
inserted another chunk, it took 9.974335 seconds
inserted another chunk, it took 9.953818 seconds
inserted another chunk, it took 9.941578 seconds
inserted another chunk, it took 11.022421 seconds
inserted another chunk, it took 13.333441 seconds
inserted another chunk, it took 10.658044 seconds
inserted another chunk, it took 10.052533 seconds
inserted another chunk, it took 9.980803 seconds
inserted another chunk, it took 10.153369 seconds
inserted another chunk, it took 10.686932 seconds
inserted another chunk, it took 10.246617 seconds
inserted another chunk, it took 9.983708 seconds
inserted another chunk, it took 10.166394 seconds
inserted another chunk, it took 10.076591 seconds
inserted another chunk, it took 10.133540 seconds
inserted another chunk, it took 11.319023 seconds

/tmp/ipykernel_4941/694127520.py:6: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  data1 = next(data_iter)

inserted another chunk, it took 9.179815 seconds
inserted another chunk, it took 5.771184 seconds
Finished ingesting all dataset to dataset